name: Docker Build and Push to ECR

on:
  push:
    branches:
      - main
    paths:
      - 'use-case-10/apps/**'
      - '.github/workflows/use-case-10.yml'

env:
  AWS_REGION: ap-south-1
  ECR_REPO_FRONTEND: dev-frontend
  ECR_REPO_BACKEND: dev-backend

jobs:
  docker-build-and-push:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push frontend image
      run: |
        docker build -t $ECR_REPO_FRONTEND:latest ./use-case-10/apps/frontend
        docker tag $ECR_REPO_FRONTEND:latest ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_FRONTEND:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_FRONTEND:latest

    - name: Build and push backend image
      run: |
        docker build -t $ECR_REPO_BACKEND:latest ./use-case-10/apps/backend
        docker tag $ECR_REPO_BACKEND:latest ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_BACKEND:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_BACKEND:latest
